Repository jamesfishwick/minimalwave-blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

check-migrations:
  name: Check for pending Django migrations
  entry: scripts/check-migrations.sh
  language: script
  pass_filenames: false

validate-migrations:
  name: Validate migration dependencies
  entry: scripts/validate-migrations.sh
  language: script
  pass_filenames: false

test-migrations-clean:
  name: Test migrations in clean environment
  entry: scripts/test-migrations-clean.sh
  language: script
  pass_filenames: false
  stages:
  - pre-push

django-tests:
  name: Run Django Tests
  entry: make
  args:
  - test-in-docker
  language: system
  pass_filenames: false
  always_run: false

django-check:
  name: Django System Check
  entry: docker-compose
  args:
  - exec
  - -T
  - web
  - python
  - manage.py
  - check
  language: system
  pass_filenames: false
  always_run: false

Add image display to blogmark and TIL templates
  templates/blog/blogmark.html
  templates/til/detail.html
Due: none

Remove parallel flag from CI tests to fix pickle error
  .github/workflows/azure-deploy.yml
Due: none

Remove test scripts that execute code at import time
  tests/test_admin.py
  tests/test_admin_save.py
Due: django-tests, django-check

Fix Azure Blob Storage configuration for django-storages
  minimalwave-blog/settings/production.py
Due: django-tests, django-check

feat(storage): Add comprehensive logging for Azure Blob Storage debugging
  .serena/memories/code_style_conventions.md
  .serena/memories/deployment_architecture.md
  .serena/memories/migration_safety_guidelines.md
  .serena/memories/project_overview.md
  .serena/memories/project_structure.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/memories/testing_strategy.md
  CLAUDE.md
  blog/management/commands/sync_images_to_azure.py
  blog/signals.py
  docs/AZURE_STORAGE_TROUBLESHOOTING.md
  minimalwave-blog/settings/production.py
  scripts/check_storage_config.py
  scripts/fix-azure-storage.sh
  scripts/test_azure_storage.py
Due: django-tests, django-check

fix(storage): Add django-storages[azure] to requirements.txt
  requirements.txt
Due: none

Revert "fix(storage): Add django-storages[azure] to requirements.txt"
  requirements.txt
Due: none

fix(tests): Create actual image file in migration test
  tests/test_images.py
Due: django-tests, django-check

fix(storage): Use Django 5.2 STORAGES configuration for Azure Blob Storage
  minimalwave-blog/settings/production.py
Due: django-tests, django-check

feat(images): Rename image_alt to image_caption with markdown support
  blog/models.py
  templates/blog/blogmark.html
  templates/blog/entry.html
  templates/til/detail.html
  tests/test_images.py
  til/models.py
Due: check-migrations, test-migrations-clean, django-tests, django-check

feat(migrations): Add migrations for image_alt to image_caption rename
  blog/migrations/0003_rename_image_alt_to_image_caption.py
  til/migrations/0003_rename_image_alt_to_image_caption.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

fix(admin): Update field reference from image_alt to image_caption
  blog/admin.py
Due: django-tests, django-check

fix(blog): Correct LinkedInSettings import path in signals
  blog/signals.py
Due: django-tests, django-check

fix(til): Update field reference from image_alt to image_caption in admin
  til/admin.py
Due: django-tests, django-check

chore: Enhance gitignore with MCP and Claude Code patterns
  .gitignore
Due: none

fix(signals): Prevent crash when Azure blob storage image missing
  blog/signals.py
Due: django-tests, django-check

feat(styles): Constrain post images to max 900px width
  static/css/additional.css
Due: none

refactor: Simplify taxonomy and remove unused infrastructure
  .serena/project.yml
  blog/utils.py
  core/admin.py
  core/migrations/0003_simplify_taxonomy.py
  core/models.py
  minimalwave-blog/settings.py
  scripts/migrate_taxonomy.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

fix: Regenerate poetry.lock with Poetry 2.3.1
  poetry.lock
Due: none

feat: Add unified CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

feat: Add consolidated migration-safety script
  scripts/migration-safety.sh
Due: none

feat: Add consolidated azure-ops script
  scripts/azure-ops.sh
Due: none

feat: Add consolidated setup-dev-environment script
  scripts/setup-dev-environment.sh
Due: none

feat: Add consolidated scheduled-publishing script
  scripts/scheduled-publishing.sh
Due: none

fix: Use Poetry for CI/CD dependency management
  .github/workflows/ci-cd.yml
Due: none

feat: Add --pre-check mode to migration-safety script
  scripts/migration-safety.sh
Due: none

feat: Update Makefile with new script targets
  Makefile
Due: none

feat: Simplify pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: Add AI-powered auto-tagging system for blog content
  blog/management/commands/auto_tag_content.py
  docs/AUTO_TAGGING.md
  docs/AUTO_TAGGING_QUICKSTART.md
  poetry.lock
  pyproject.toml
Due: django-tests, django-check

chore: Regenerate poetry.lock with Poetry 2.3.1
  poetry.lock
Due: none

docs: Add CI/CD pipeline documentation
  CLAUDE.md
  docs/CI-CD-PIPELINE.md
  scripts/README.md
Due: none

chore: Archive deprecated scripts and workflows
  .archive/README.md
  .archive/scripts/check-migrations.sh
  .archive/scripts/check_storage_config.py
  .archive/scripts/diagnose_production.sh
  .archive/scripts/docker-usage-warning.sh
  .archive/scripts/enforce-dev-environment.sh
  .archive/scripts/fix-azure-storage.sh
  .archive/scripts/fix-site-domain-remote.sh
  .archive/scripts/pre-migration-check.sh
  .archive/scripts/setup-dev-aliases.sh
  .archive/scripts/setup_scheduled_publishing.sh
  .archive/scripts/test-migrations-clean.sh
  .archive/scripts/test_scheduling.sh
  .archive/scripts/validate-migration-dependencies.sh
  .archive/scripts/validate-migrations.sh
  .archive/workflows/azure-deploy.yml
  .archive/workflows/migration-validation.yml
Due: django-tests, django-check

chore: Add migration for index updates after dependencies update
  core/migrations/0004_remove_enhancedtag_core_enhanc_content_9af629_idx_and_more.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

fix: Remove index operations for already-deleted fields in migration 0004
  core/migrations/0004_remove_enhancedtag_core_enhanc_content_9af629_idx_and_more.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

chore: Remove problematic index rename migration
  core/migrations/0004_remove_enhancedtag_core_enhanc_content_9af629_idx_and_more.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

fix: Remove explicit indexes from EnhancedTag model to avoid migration conflicts
  core/models.py
Due: check-migrations, test-migrations-clean, django-tests, django-check

chore: Add no-op migration to satisfy makemigrations check
  core/migrations/0004_remove_old_indexes.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

fix: Remove index definitions from EnhancedTag model and clean up migrations
  core/migrations/0004_remove_old_indexes.py
  core/migrations/0005_remove_enhancedtag_core_enhanc_content_9af629_idx_and_more.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

fix: Remove content_type index before dropping column in migrations
  core/migrations/0003_simplify_taxonomy.py
  core/migrations/0005_remove_enhancedtag_core_enhanc_content_9af629_idx_and_more.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

fix: Refactor migrations 0003 and 0005 to handle databases without legacy models
  core/migrations/0003_simplify_taxonomy.py
  core/migrations/0005_remove_enhancedtag_core_enhanc_content_9af629_idx_and_more.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

Path conditions:
  check-migrations: any of: (models\.py|migrations/.*\.py)$, but not: (?x)(
  ^venv/|
  ^\.venv/|
  ^migrations/|
  ^logs/|
  ^\.claude-sandbox/|
  ^staticfiles/
)
  validate-migrations: any of: migrations/.*\.py$, but not: (?x)(
  ^venv/|
  ^\.venv/|
  ^migrations/|
  ^logs/|
  ^\.claude-sandbox/|
  ^staticfiles/
)
  test-migrations-clean: any of: (models\.py|migrations/.*\.py)$, but not: (?x)(
  ^venv/|
  ^\.venv/|
  ^migrations/|
  ^logs/|
  ^\.claude-sandbox/|
  ^staticfiles/
)
  django-tests: any of: \.py$, but not: (?x)(
  ^venv/|
  ^\.venv/|
  ^migrations/|
  ^logs/|
  ^\.claude-sandbox/|
  ^staticfiles/
)
  django-check: any of: \.py$, but not: (?x)(
  ^venv/|
  ^\.venv/|
  ^migrations/|
  ^logs/|
  ^\.claude-sandbox/|
  ^staticfiles/
)
