Repository jamesfishwick/minimalwave-blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

repos:
  # Built-in hooks for basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.md$'  # Allow trailing whitespace in markdown
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: '24.8.0'
    hooks:
      - id: black
        language_version: python3
        args: ['--line-length=88']
        files: '\.py$'

  # Import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: '5.13.2'
    hooks:
      - id: isort
        args: ['--profile=black', '--line-length=88']
        files: '\.py$'

  # Python linting with flake8
  - repo: https://github.com/pycqa/flake8
    rev: '7.1.1'
    hooks:
      - id: flake8
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']
        files: '\.py$'

  # Django-specific checks
  - repo: local
    hooks:
      - id: check-migrations
        name: Check for pending Django migrations
        entry: scripts/check-migrations.sh
        language: script
        files: '(models\.py|migrations/.*\.py)$'
        pass_filenames: false
        
      - id: validate-migrations
        name: Validate migration dependencies
        entry: scripts/validate-migrations.sh
        language: script
        files: 'migrations/.*\.py$'
        pass_filenames: false
        
      - id: test-migrations-clean
        name: Test migrations in clean environment
        entry: scripts/test-migrations-clean.sh
        language: script
        files: '(models\.py|migrations/.*\.py)$'
        pass_filenames: false
        stages: [pre-push]  # Only run on push, not every commit

      - id: django-tests
        name: Run Django Tests
        entry: make
        args: ['test-in-docker']
        language: system
        files: '\.py$'
        pass_filenames: false
        always_run: false

      - id: django-check
        name: Django System Check
        entry: docker-compose
        args: ['exec', '-T', 'web', 'python', 'manage.py', 'check']
        language: system
        files: '\.py$'
        pass_filenames: false
        always_run: false

  # Security checks with bandit
  - repo: https://github.com/pycqa/bandit
    rev: '1.7.8'
    hooks:
      - id: bandit
        args: ['-r', '.', '-f', 'json']
        files: '\.py$'
        exclude: '^(tests?/|.*/tests?/)'

# Configuration for specific tools
default_language_version:
  python: python3

# Skip certain hooks for specific file patterns
exclude: |
  (?x)(
    ^venv/|
    ^\.venv/|
    ^migrations/|
    ^logs/|
    ^\.claude-sandbox/|
    ^staticfiles/
  )

Add safe migration workflow targets to Makefile
  Makefile
Due: none

Document automated migration safety workflow in CLAUDE.md
  CLAUDE.md
Due: none

Add migration validation to CI/CD pipeline
  .github/workflows/azure-deploy.yml
Due: none

Add management command to fix Django Site domain
  blog/management/commands/fix_site_domain.py
Due: django-tests, django-check

Fix LinkedIn model field constraints and create proper migrations
  blog/migrations/0011_alter_entry_linkedin_enabled_and_more.py
  blog/models.py
  til/migrations/0004_til_card_image.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

Remove redundant TIL migration causing dependency conflicts
  til/migrations/0004_til_card_image.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

Implement comprehensive migration safety prevention system
  .pre-commit-config.yaml
  MIGRATION_PREVENTION_SUMMARY.md
  MIGRATION_WORKFLOW.md
  Makefile
  scripts/docker-usage-warning.sh
  scripts/enforce-dev-environment.sh
  scripts/pre-migration-check.sh
  scripts/validate-migration-dependencies.sh
Due: none

Consolidate migration safety documentation into single concise guide
  MIGRATION_PREVENTION_SUMMARY.md
  MIGRATION_SAFETY.md
  MIGRATION_WORKFLOW.md
Due: none

Fix CI database configuration for migration testing
  .github/workflows/azure-deploy.yml
Due: none

Create dedicated CI settings to fix database connection issues
  .github/workflows/azure-deploy.yml
  minimalwave-blog/settings/ci.py
Due: django-tests, django-check

Add site debug endpoint to diagnose and fix Django Site domain
  blog/linkedin_urls.py
  blog/linkedin_views.py
  blog/management/commands/show_site_info.py
  scripts/fix-site-domain-remote.sh
Due: django-tests, django-check

Fix JsonResponse indent parameter error
  blog/linkedin_views.py
Due: django-tests, django-check

Major reorganization: implement enhanced taxonomy system and separate LinkedIn integration
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  blog/admin.py
  blog/migrations/0001_initial.py
  blog/models.py
  blog/views.py
  core/__init__.py
  core/admin.py
  core/admin_improvements.py
  core/apps.py
  core/migrations/0001_initial.py
  core/migrations/__init__.py
  core/models.py
  deploy/docker/Dockerfile
  deploy/docker/docker-compose.yml
  linkedin/__init__.py
  linkedin/admin.py
  linkedin/apps.py
  linkedin/linkedin_service.py
  linkedin/linkedin_urls.py
  linkedin/linkedin_views.py
  linkedin/models.py
  minimalwave-blog/admin_config.py
  minimalwave-blog/settings/base.py
  minimalwave-blog/settings/development.py
  minimalwave-blog/urls.py
  scripts/diagnose_production.sh
  scripts/migrate_taxonomy.py
  tests/__init__.py
  tests/test_admin.py
  tests/test_admin_save.py
  tests/test_blog.py
  tests/test_blog_flow.sh
  tests/test_linkedin.py
  tests/test_til.py
  tests/test_with_playwright.py
  til/migrations/0001_initial.py
  til/models.py
  til/views.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

Clean up repository: remove outdated files and test artifacts
  .env.sample
  Dockerfile
  ISSUE_TEMPLATE/bug_report.md
  ISSUE_TEMPLATE/feature_request.md
  add_entry.html
  blog/linkedin_service.py
  blog/linkedin_urls.py
  blog/linkedin_views.py
  blog/migrations/0002_blogmark_publish_date_blogmark_status_and_more.py
  blog/migrations/0003_sitesettings.py
  blog/migrations/0004_linkedin_models.py
  blog/migrations/0005_sync_models.py
  blog/migrations/0006_create_default_site.py
  blog/migrations/0007_add_linkedin_fields.py
  blog/migrations/0008_add_linkedin_posted.py
  blog/migrations/0009_rename_linkedin_post_url_field.py
  blog/migrations/0010_sync_linkedin_models.py
  blog/migrations/0011_alter_entry_linkedin_enabled_and_more.py
  blog/test_linkedin.py
  blog/tests.py
  cookies.txt
  diagnose_production.sh
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker-entrypoint.sh
  linkedin_integration_schema.md
  post_page.html
  save_result.html
  supervisord.conf
  test_admin.py
  test_admin_save.py
  test_blog_flow.sh
  test_with_playwright.py
  til/fix_models_import.py
  til/migrations/0002_add_card_image_and_linkedin_fields.py
  til/tests.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

Add remaining deployment configuration files
  .gitignore
  deploy/docker/docker-compose.dev.yml
  deploy/docker/docker-compose.prod.yml
  deploy/docker/docker-entrypoint.sh
  deploy/docker/supervisord.conf
Due: none

Fix circular migration dependency: split SeriesEntry into separate migration
  core/migrations/0001_initial.py
  core/migrations/0002_seriesentry.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

Fix test imports and LinkedIn service path for reorganized structure
  .github/workflows/azure-deploy.yml
  blog/signals.py
  tests/test_blog.py
Due: django-tests, django-check

Fix Docker build path in GitHub Actions workflow
  .github/workflows/azure-deploy.yml
Due: none

Add LinkedIn app migrations
  linkedin/migrations/0001_initial.py
  linkedin/migrations/__init__.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

Fix migration dependency issue for production deployment
  blog/management/commands/fix_migration_dependencies.py
  deploy/docker/docker-entrypoint.sh
Due: django-tests, django-check

Fix production migration issue by creating missing core tables
  blog/management/commands/fix_production_migrations.py
  deploy/docker/docker-entrypoint.sh
Due: django-tests, django-check

Update entrypoint comment for clarity
  deploy/docker/docker-entrypoint.sh
Due: none

Add comprehensive database repair and migration validation
  .github/workflows/azure-deploy.yml
  CLAUDE.md
  blog/management/commands/fix_migration_dependencies.py
  blog/management/commands/fix_production_migrations.py
  blog/management/commands/repair_database_state.py
  blog/management/commands/validate_migrations.py
  deploy/docker/docker-entrypoint.sh
Due: django-tests, django-check

Fix migration validation to handle Django's __first__ dependencies
  .github/workflows/azure-deploy.yml
  blog/management/commands/validate_migrations.py
Due: django-tests, django-check

Add schema alignment fix command for tag column naming
  blog/management/commands/fix_schema_alignment.py
Due: django-tests, django-check

Add schema alignment fix to deployment pipeline
  deploy/docker/docker-entrypoint.sh
Due: none

Add tag data migration to fix foreign key references
  blog/management/commands/fix_schema_alignment.py
  blog/management/commands/migrate_tag_data.py
Due: django-tests, django-check

Fix category column naming mismatch in core_enhancedtag
  blog/management/commands/fix_schema_alignment.py
Due: django-tests, django-check

Add comprehensive schema mismatch fix for all model columns
  blog/management/commands/fix_all_schema_mismatches.py
  deploy/docker/docker-entrypoint.sh
Due: django-tests, django-check

Fix markdown rendering in blog post summaries and enhance development workflow
  .github/workflows/migration-validation.yml
  .serena/.gitignore
  .serena/project.yml
  CLAUDE.md
  Makefile
  blog/admin.py
  blog/management/commands/fix_all_schema_mismatches.py
  blog/management/commands/repair_database_state.py
  blog/management/commands/setup_dev_site.py
  blog/models.py
  deploy/docker/docker-entrypoint.sh
  minimalwave-blog/settings/development.py
  scripts/setup-dev-aliases.sh
  static/css/style.css
Due: check-migrations, test-migrations-clean, django-tests, django-check

Add image fields to Entry, Blogmark, and TIL models
  blog/migrations/0002_add_image_fields.py
  blog/models.py
  til/migrations/0002_add_image_fields.py
  til/models.py
Due: check-migrations, validate-migrations, test-migrations-clean, django-tests, django-check

Add image processing utilities for optimization and thumbnails
  blog/utils/__init__.py
  blog/utils/image_processing.py
Due: django-tests, django-check

Configure Azure Blob Storage for production media files
  minimalwave-blog/settings/base.py
  minimalwave-blog/settings/production.py
  pyproject.toml
Due: django-tests, django-check

Add comprehensive test suite for image functionality
  tests/README_IMAGE_TESTS.md
  tests/test_image_processing.py
  tests/test_image_storage.py
  tests/test_images.py
Due: django-tests, django-check

Fix test imports for TIL and Tag models
  tests/test_til.py
Due: django-tests, django-check

Remove broken test files and rename manual scripts
  tests/manual_playwright_test.py
  tests/test_linkedin.py
Due: django-tests, django-check

Improve CI/CD test coverage and efficiency
  .github/workflows/azure-deploy.yml
Due: none

Add deployment documentation and update project docs
  CLAUDE.md
  DEPLOYMENT_GUIDE_IMAGES.md
  minimalwave-blog/urls.py
Due: django-tests, django-check

Add image upload fields to admin interface
  blog/admin.py
  til/admin.py
Due: django-tests, django-check

Add image display to blog entry template
  templates/blog/entry.html
Due: none
